# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtualenv
# =========================
venv/
venv311/
.env
env/


# =========================
# Django
# =========================
media/
staticfiles/
db.sqlite3

# =========================
# Logs
# =========================
*.log

# =========================
# IDEs / OS
# =========================
.idea/
.vscode/
.DS_Store
Thumbs.db
/.conda

# =========================
# secret files
# =========================
llavegemini
llavegemini.text

# =========================
# vs code
# =========================
.vscode/


config\settings\base.py
config\settings\local.py
config\settings\produccion.py


*.log
*.tmp
*.swp
.DS_Store

staticfiles/