# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtualenv
# =========================
venv/
venv311/
.env

# =========================
# Django
# =========================
media/
staticfiles/
db.sqlite3

# =========================
# Logs
# =========================
*.log

# =========================
# IDEs / OS
# =========================
.idea/
.vscode/
.DS_Store
Thumbs.db
/.conda
